@{
    Layout = "~/Views/Shared/Layout-Themes.cshtml";
}
       
<div style="margin:20px;padding:20px;  background:url('../../images/environment2.jpg')">
@{ Html.RenderPartial("viewport-Themes/el"); }
<br/><br/>
@{ Html.RenderPartial("viewport-Themes/tabs"); }
</div>

        