body
{
    
    width:100%;
    height:100%;
    background-color:#f1f1f1;
    font : 12px verdana;
    padding:5px;
}



/*theme1*/

/*jQuery popup*/
/*.ui-dialog .ui-dialog-titlebar 
{
    padding:10px !important;
}

    
.ui-dialog .ui-dialog-titlebar 
{
    font-family:Verdana !important;
    font-size:10px !important;
    padding-left:10px !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl 
{
    padding:0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}
*/
/*jQuery popup End*/




.theme1_header1
{
    width:100%;
    height:20px;
    background-color:Black;
    border:1px solid #ccc;
}
.theme1_header2
{
    width:100%;
    height:20px;
    background-color:#f1f1f1;
    border:0px solid #ccc;
    
}
.theme1_div1
{
    background:#f1f1f1;
    width:83px;
    height:100%;
    border-top:0px;
    vertical-align:top;
}
.theme1_div1 .side
{
    padding:2px;
    vertical-align:top;
    margin-left:15px;    
    cursor:pointer;
}
.theme1_div2
{
    width:950px;
    height:100%;
    border:1px solid #ccc;
    
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0 ;
    
    background-color:White;
    vertical-align:top;
}
.theme1_div2 .div
{
    padding:5px;
    vertical-align:top;
}
.theme1_div3
{
    background:#f1f1f1;
    width:10px;
    height:100%;
    border:0px solid #ccc;
    padding: 3px;
}
.theme1_div4
{
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0 ;
    vertical-align:top;
    padding:5px;
    
    background-color:White;
    border:1px solid #ccc;
}

.theme1_div5
{
    background:#f1f1f1;
    width:10px;
    height:100%;
    border:0px solid #ccc;
}

.theme1_loading1
{
    width:20px;
    height:20px;
    text-align:center;
    vertical-align:middle;
    background:url(/resources/components/base/images/loading3.gif) no-repeat;
}
.theme1_loading_text
{
    vertical-align:middle;
    font-family:Verdana;
    font-size:9px;
    
}
.theme1_loading2
{
    text-align:center;
    vertical-align:middle;
    font-family:Verdana;
    font-size:9px;
    background:url(/resources/components/base/images/loadingAlert.gif) no-repeat;
    text-align:center;
    vertical-align:middle;
    padding-top:20px;
    background-position:center;
}

    
#side-selector
{
     background-image:url(/resources/components/base/images/left-pointer.png);
     width:10px;
     height:19px;
     z-index:2;
     position:absolute;
     
}


.theme1_loginRequest
{
    width:50px;
    height:50px;
    background:url("../images/login.png")
}
.theme1_logoutRequest
{
    width:50px;
    height:50px;
    background:url("../images/logout.png")
}





.theme1_timer_left
{   
    font:10px verdana;
    padding:2px;    
    width:30px;
    
    position:absolute;
    left:25px;
    top:410px;
    color:#f2f2f2;
}


.firstPH , .secondPH
{
    height:100%;        
}


.hide
{
    display:none;    
}
.show
{
    display:block;
}




/*Dropdownlist*/
 #titles-list .k-item {
                    overflow: hidden; /* clear floated images */
                }

                #titles-list img {
                    box-shadow: 0 0 4px rgba(255,255,255,.7);
                    float: left;
                    margin: 5px;
                }

                #titles-list dl {
                    margin-left: 85px;
                }

                #titles-list dt,
                #titles-list dd {
                    margin: 0;
                    padding: 0;
                }

                #titles-list dt {
                    font-weight: bold;
                    padding-top: .5em;
                }

                #titles-list dd {
                    padding-bottom: .3em;
                }

/*Ext js*/
.x-mask
{
    width:100% !important;
}


/*jQuery Dialog*/
.ui-widget-header
{
    border:0px !important;
    -moz-border-radius-bottomleft: 0px/*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 0px/*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 0px/*{cornerRadius}*/;
    border-bottom-left-radius: 0px/*{cornerRadius}*/;
    -moz-border-radius-bottomright: 0px/*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 0px/*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 0px/*{cornerRadius}*/;
    border-bottom-right-radius: 0px/*{cornerRadius}*/;
}
.ui-dialog 
{
    font: 12px 'Droid Sans', 'Trebuchet MS', Arial, Helvetica;
    padding:0px;
    
}
.ui-resizable-se 
{   
    display:none !important;
}