     <!--css-->
     <style type="text/css">
        .text-input
        {
            height: 21px;
            width: 150px;
        }
        .register-table
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .register-table td, 
        .register-table tr
        {
            margin: 0px;
            padding: 2px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
        h3 
        {
            display: inline-block;
            margin: 0px;
        }
    </style>


    <!--html-->
    <div id="pnl-newcontent">
        <div><h3>Details</h3></div>
        <div>
            <form id="frm-newcontent" >
                <table class="register-table">
                    
                    <tr>
                        <td>Headers</td>
                        <td><div id="ddl-headers"></div></td>
                    </tr>
                    <tr>
                        <td>view Url:</td>
                        <td><input type="text" id="txt-url" class="text-input" style="width:200px" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: left;">
                            <input type="submit" value="Create" id="btn-newcontent" />
                            <input type="submit" value="Cancel" id="btn-cancelcontent" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!--javascript-->
     <script type="text/javascript">

         var theme = getDemoTheme()

         //build form 
         $("#pnl-newcontent").jqxExpander({ toggleMode: 'none', showArrow: false, theme: theme });
         $('#btn-newcontent').jqxButton({ width: 60, height: 25, theme: theme });
         $('#btn-cancelcontent').jqxButton({ width: 60, height: 25, theme: theme });

         $('#frm-newcontent').jqxValidator({
             rules: [
                    { input: '#txt-url', message: 'View Url is required!', action: 'keyup, blur', rule: 'required' }
                ]
         });
         
         //combo box
         var url = "/home/getHeaders";
         var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'name' },
                        { name: 'id' }
                    ],
                    id: 'id',
                    url: url,
                    async: false
                };
         var dataAdapter = new $.jqx.dataAdapter(source);

         $("#ddl-headers").jqxDropDownList({ selectedIndex: 0, source: dataAdapter, displayMember: "name"
         , valueMember: "id", width: 200, height: 25, theme: theme });

         $("#ddl-headers").jqxDropDownList({ dropDownHeight: 50 });





         //save form
         $('#btn-newcontent').on('click', function (event) {

             var isValidated = $('#frm-newcontent').jqxValidator('validate');
             if (!isValidated) return false;

             $.ajax(
             {
                 url: "/home/newcontent",
                 type: "post",
                 data: { header: $('#txt-header').val() }
             })
             .done(function (data) {

                 lib.helper.jqWidgetWinClose($('#mywin').val());
             })
             .fail(function (data) { console.log('error happend in new header') })
             .always(function (data) { });

             return false;
         });
         $('#btn-cancelcontent').on('click', function () {
             lib.helper.jqWidgetWinClose($('#mywin').val());
             return false;
         });
         
            
    </script>
