<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAccountingV1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAccountingV1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:555/srv.svc/Addr" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAccountingV1" contract="AccountingV1.IAccountingV1"
                name="BasicHttpBinding_IAccountingV1" />
            <endpoint address="http://localhost:555/srv.svc/secureAddr" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAccountingV1" contract="AccountingV1.IAccountingV1"
                name="WSHttpBinding_IAccountingV1">
                <identity>
                    <servicePrincipalName value="host/saeid-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>