
<div id='scrollerContainer' >
    <div id="scroll-pane">
    <div id="" style="width:200px;height:500px">
    
    <p>
    asdsadsa
    dsa
    dd
    sd
    sad
    sad
    asda
    sdasd
    asd
    sadsa
    das
    das
    ds
    dsa
    d
    fds
    f
    dsf
    dsf
    ds
    fg
    dfghfdsg
    
    </p>

    </div>
    </div>
</div>
                    


<script>
    $('#scroll-pane').jScrollPane();
</script>
<style>
#scroll-pane{height: 225px;}			
</style>

<link href="../../../scripts/JSplugins/jScrollPane/jquery.jscrollpane.css" rel="stylesheet" type="text/css" />
<script src="../../../scripts/JSplugins/jScrollPane/jquery.mousewheel.js" type="text/javascript"></script>
<script src="../../../scripts/JSplugins/jScrollPane/jquery.jscrollpane.min.js" type="text/javascript"></script>
