@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/subMaster2.cshtml";
}

<!--Ajax Uplaod-->
<h1>Aajax Uplaod</h1>

<div id="upload">Upload File</div>
<div id="status"></div>
<ul id="files"></ul>
