@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/subMaster2.cshtml";
}


<!--Layout-->
	<div id="mainLayout" class="easyui-layout" style="height:750px;margin-top:5px;">
		<div id="tsk-outer-west" region="west" split="true" title="Main Menu" style="width:200px;height:500px">
            <!--ACC-->
        	<div id="aa" class="easyui-accordion" style="height:700px;border:0px">
		        <div title="Title1" data-options="iconCls:'icon-ok'" style="overflow:auto;padding:10px;"></div>
		        <div title="Title2" data-options="iconCls:'icon-search',
				        tools:[{
					        iconCls:'icon-reload',
					        handler:function(){
						        $('#tt').datagrid('reload');
					        }
				        }]">
			        
		        </div>
		        <div title="Title3" style="padding:10px;" data-options="selected:true">
                
                <!--treeView Componet-->
                <ul id="tree" ></ul>  

                
                </div>
	        </div>
            <!--Acc End-->
        
        </div>

        <!--Define Layout Center-->
		<div id="tsk-outer-center" region="center" title="Main" style="padding:5px;" data-options="iconCls:'icon-search',
				        tools:[{
					        iconCls:'icon-reload',
					        handler:function(){
						        alert('Hi');
					        }
				        }]">
        
            <!--Define inner layout in center Area**********-->
            <div class="easyui-layout" fit="true">  
                <div id="tsk-inner-center" region="center" >  
                         <!--Define Tabs Control in layout center right-->
                         <div class="easyui-tabs" style="width:1000px;height:700px;">  
                                 <div id="tab1"  title="Organization Plot" style="padding:10px;position:relative;" data-options="iconCls:'icon-help',closable:true,selected:true"> 
                                                <div class="scroll-pane jspScrollable" id="wf" ></div> 
                                            </div> 
                                 <div id="tab2" title="About" style="padding:10px"  >
                                                <table class="easyui-datagrid" title="Basic DataGrid" style="width:800px" 
                                                data-options="singleSelect:true,collapsible:true,url:'/datasource/datagrid_data2.json'">  
                                                    <thead>  
                                                        <tr>  
                                                            <th data-options="field:'itemid',width:80">Item ID</th>  
                                                            <th data-options="field:'productid',width:100">Product</th>  
                                                            <th data-options="field:'listprice',width:80,align:'right'">List Price</th>  
                                                            <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>  
                                                            <th data-options="field:'attr1',width:250">Attribute</th>  
                                                            <th data-options="field:'status',width:60,align:'center'">Status</th>  
                                                        </tr>  
                                                    </thead>  
                                                </table>
                                 </div>


                                 <div id="tab3" title="hAcc" data-options="selected:false" >
                                <!--HACC-->
                                <div id="hacc" >
                                <div class="Hsection" style="float:left;">
                                     <div class="media-bar Hsection-header" style="float:left">
                                        <ul>
                                            <li></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="Hsection-content" style="float:left">Part1</div>
                                </div>
                                <div class="Hsection"style="float:left">
                                     <div class="media-bar Hsection-header" style="float:left">
                                        <ul>
                                            <li></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="Hsection-content" style="float:left">Part2</div>
                                </div>
                                <div class="Hsection"style="float:left">
                                     <div class="media-bar Hsection-header" style="float:left">
                                        <ul>
                                            <li></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="Hsection-content" style="float:left">Part2</div>
                                </div>
                                </div>
                             
                                </div>




                         </div> 
                         <!--Define Tabs Control in layout center right END-->

                    
                </div>  
                <div id="tsk-inner-west" title="Tasks" region="west" split="true" style="width:200px;" data-options="tools:[{
					        iconCls:'icon-save',
					        handler:function(){
						        $('#tt').datagrid('reload');
					        }
				        }]">

                
                </div>  
            </div>
            <!--Define inner layout in center Area END******-->
        </div>
	</div>


    <script>
    (function ($) {
        $('.Hsection').undelegate(this, "click").delegate(this, "click", function (e) {
            var me = this;

            var hideAll = $('.Hsection-content').fadeOut();
            $.when(hideAll)
            .done(function () {

                $(me).find('div').each(function (index) {

                    if ($(this).hasClass('Hsection-content')) {
                        if ($(this).is(":visible"))
                            $(this).fadeOut(function () { });
                        else
                            $(this).fadeIn(function () { });
                    }

                });
            });

            e.stopPropagation();
            return false;

        }); //.section click
        $(".Hsection-header:not(:eq(0))").next().hide();

        var i = 0;
        
    } (jQuery));
    </script>

    <style>
        
        #hacc
        {
            margin-top:10px;
            }
        .media-bar {
            width: 30px;
            height: 400px;
            
           
            background-image:url("../../components/index2/hSlider/img/small-bg.png");
            
            background-image: -webkit-gradient(linear, left center, right center, from(#5F8CB0), to(#4A7496));
            background-image: -webkit-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: -moz-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: -o-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: -ms-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: linear-gradient(left, #5F8CB0, #4A7496);
            position: relative;
            
            -webkit-border-radius: 0px;
            border-radius: 0px;
            border: 1px solid #1C5380;
        }
        .media-bar ul
        {   
            width:100%;
            padding:0px;
            margin:0px;
            cursor:pointer;
            
            
        }
        .media-bar li
        {
            cursor:pointer;
            list-style-type:none;
                /*border-top: 1px solid rgba(255, 255, 255, 0.12);
                border-bottom: 1px solid #1C5380;
                */
        }
        .Hsection-content
        {
            min-width:400px;
            height:380px;
            border-right:1px solid #1C5380;   
            border-top:1px solid #1C5380;   
            border-bottom:1px solid #1C5380;   
            padding:10px;
        }

</style>
