@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/subMaster2.cshtml";
}


<!--Layout-->

<div id="mainLayout" class="easyui-layout" style="width:100%;height:750px;margin-top:5px;">  
    <div data-options="region:'south',title:'Banner',split:true" style="height:100px;"></div>  
    <div data-options="region:'west',title:'Main Panel',split:true" style="width:250px;background:#f5f5f5">
            <!--ACC-->
        	<div id="aa" class="easyui-accordion" style="height:600px;border:0px">
		        
		        <div title="Users" style="padding-left:2px;" data-options="selected:true,border:false">
                <button id="x">test</button>
                <!--treeView Componet-->
                <ul id="tree" class="easyui-tree" data-options="url:'/workflow/getusers',animate:true" ></ul>  
                
                </div>
	        </div>
            <!--Acc End-->
    </div>  
    <div data-options="region:'center',title:'center title'" style="padding:2px;background:#eee;">
        <!--Define inner layout in center Area**********-->
        <div id="mainLayout2" class="easyui-layout" style="width:100%;height:600px;margin-top:5px;"> 
            <div id="tsk-inner-west" data-options="region:'west',title:'West',split:true" style="width:150px;">
                <div id="List-1"></div>
            </div>  
            <div id="tsk-inner-center" data-options="region:'center',title:'center title'" style="padding:2px;background:#eee;">
            
             <!--Define Tabs Control in layout center right-->
             <div class="easyui-tabs" style="width:1140px;height:550px;">  
                                 <div id="tab1"  title="Organization Plot" style="padding:2px;position:relative;" data-options="iconCls:'icon-help',closable:true,selected:true"> 

                                    <div id="wf"></div>
                                    
                                 </div> 

                                 <div id="tab2" title="About" style="padding:2px"  >
                                                <table class="easyui-datagrid" title="Basic DataGrid" style="width:800px" 
                                                data-options="singleSelect:true,collapsible:true,url:'/datasource/datagrid_data2.json'">  
                                                    <thead>  
                                                        <tr>  
                                                            <th data-options="field:'itemid',width:80">Item ID</th>  
                                                            <th data-options="field:'productid',width:100">Product</th>  
                                                            <th data-options="field:'listprice',width:80,align:'right'">List Price</th>  
                                                            <th data-options="field:'unitcost',width:80,align:'right'">Unit Cost</th>  
                                                            <th data-options="field:'attr1',width:250">Attribute</th>  
                                                            <th data-options="field:'status',width:60,align:'center'">Status</th>  
                                                        </tr>  
                                                    </thead>  
                                                </table>
                                 </div>

                                 <div id="tab3" title="hAcc" data-options="selected:false" >
                                <!--HACC-->
                                <div id="hacc" >
                                <div class="Hsection" style="float:left;">
                                     <div class="media-bar Hsection-header" style="float:left">
                                        <ul>
                                            <li></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="Hsection-content" style="float:left">Part1</div>
                                </div>
                                <div class="Hsection"style="float:left">
                                     <div class="media-bar Hsection-header" style="float:left">
                                        <ul>
                                            <li></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="Hsection-content" style="float:left">Part2</div>
                                </div>
                                <div class="Hsection"style="float:left">
                                     <div class="media-bar Hsection-header" style="float:left">
                                        <ul>
                                            <li></li>
                                            
                                        </ul>
                                    </div>
                                    <div class="Hsection-content" style="float:left">Part2</div>
                                </div>
                                </div>
                             
                                </div>

                         </div> 
             <!--Define Tabs Control in layout center right END-->
            
            </div>
        </div>
        <!--Define inner layout in center Area END******-->
    </div>  
    
</div>  



