<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title></title>
    
    <!--Client side Frameworks-->
    <!--jQuery-->
    <link href="/ClientSideLibraries/JQUI/base-ui/jquery-ui-1.9.2.custom.css" rel="stylesheet"type="text/css" />
    <link href="/ClientSideLibraries/JQUI/themes/ui-vedar/jquery.ui.theme.css" rel="stylesheet"type="text/css" />
    <script src="/ClientSideLibraries/JQUI/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="/ClientSideLibraries/JQUI/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>

    <!--Prototype-->
    <script src="/ClientSideLibraries/prototype-1.7.7.0.js" type="text/javascript"></script>

    <!--YUI Loader-->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yuiloader/yuiloader-min.js"></script> <!--getScript-->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script> <!--OnAvailable-->

    <!--EasyUI-->
    <link rel="stylesheet" type="text/css" href="/ClientSideLibraries/JQeasyui/themes/metro/easyui.css">
	<link rel="stylesheet" type="text/css" href="/ClientSideLibraries/JQeasyui/themes/icon.css">	
    <script type="text/javascript" src="/ClientSideLibraries/JQeasyui/jquery.easyui.min.js"></script>
   
    <!--Extjs4-->
    <!--link rel="stylesheet" type="text/css" href="http://dev.sencha.com/deploy/ext-4.1.0-gpl/resources/css/ext-all-gray.css" /-->
    <!--script src="/ClientSideLibraries/ext-4.0.2-ext-all.js" type="text/javascript"></script-->

    <!--ckeditor-->
    <script src="../../JSplugins/ckEditor/ckeditor.js" type="text/javascript"></script>
    
    <!--Base-->
    <script src="/ClientSideLibraries/helper.js" type="text/javascript"></script>
    

    <script src="/ClientSideLibraries/less-1.3.1.js" type="text/javascript"></script>

    
    <script src="../../JSplugins/jScrollPane/jquery.mousewheel.js" type="text/javascript"></script>
    <link href="../../JSplugins/jScrollPane/jquery.jscrollpane.css" rel="stylesheet"type="text/css" />
    <script src="../../JSplugins/jScrollPane/jquery.jscrollpane.min.js" type="text/javascript"></script>

    <!--Master Components-->
    <link href="../../../Components/master/topMenu/ddmenu.css" rel="stylesheet" type="text/css" />
    <script src="../../../components/master/topMenu/ddmenu.js" type="text/javascript"></script>
    

    <link href="../../Components/Master/page.css" rel="stylesheet" type="text/css" />
    <script src="../../Components/Master/page.js" type="text/javascript"></script>

</head>
<body style="width:99%;height:100%;">
    <nav id="ddmenu" class="topMenu">
    <ul>
        <li><a href="#">Main</a>
            <div>
                <div class="column">
                    <b>Start</b>
                    <a href="/">Main Page</a>
                    <a  style="display:none" href="/home/index3">ScrollerPane</a>
                </div>
            </div>
        </li>
        
        <li>Accounting
            <div>
                <div class="column">
                    <a href="#">Invoices</a>
                    <a href="#">Payments</a>
                    
                </div>
            </div>
        </li>
        <li style="display:none">Samples
            <div class="dropToLeft2">
                <div class="column">
                    <b>ExtJS 4</b>
                    <div>
                        <a href="#">Empty</a>
                    </div>
                    <b>jQueryEasyUI</b>
                    <div>
                        <a href="/home/easyUI">Page1</a>
                        
                    </div>
                    <b>DOJO</b>
                    <div>
                        <a href="/home/dojo">Page1</a>
                        
                    </div>
                    <b>Others</b>
                    <div>
                        <a href="/home/index2">Admin Sample</a>
                        
                    </div>
                </div>
               
            </div>
        </li>
        
    </ul>
</nav>
     <div style="margin-top:50px;">
     @RenderBody()
     </div>
</body>

</html>
