.dvs-mainDivStyle
{
    border:0px solid #ccc;
}
.dvs-itemStyle
{
    border:1px solid transparent;
    float:left;
    padding:2px;
    margin:3px;      
    /*1+2+3=bmp*/      
}
.dvs-itemStyle-selected
{
    border:1px solid green;
}

.dvs-itemStyle:hover
{
    border:1px solid #e2e2e2;
    cursor:pointer;
}
.dvs-headerStyle
{
    
    margin-bottom:3px; 
    margin-top:3px; 
    cursor:pointer;
    
    border-bottom:3px solid #f2f2f2;
}

.dvs-headerExpand
{
    background: url(http://springrainbow.ca/icons/icons_2/toggle-small.png) no-repeat scroll 0 0 transparent;
}
.dvs-headerCollapse
{
    background: url(http://springrainbow.ca/icons/icons_2/toggle-small-expand.png) no-repeat scroll 0 0 transparent;
    
}

.dvs-sectionHide
{
    display:none;
}
.dvs-sectionShow
{
    display:block;
}
