<style>
.section
{
    margin:0px;  
    font-family:verdana;  
    font-size:9px;
    width:202px;
    
    border:1px solid white;
    
    
     /*Box Shadow*/
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    -goog-ms-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    
}
.section-header
{
    width:200px;
    height:30px;
    background:#eee;
    border:1px solid #C6C6C6;
   
    cursor:pointer;
    padding:2px;
    
}
.section-content
{
    background:white;
    width:200px;
    height:70px;
    border:1px solid transparent;   
}
</style>

<table id="accordionTable">
<tr>
<td>
    <!--Accordion-->
    <div class="section">
        <div class="section-header">Header 1</div>
        <div class="section-content"><p><a></a></p><p></p></div>
    </div>

    <div class="section">
        <div class="section-header">Header 2</div>
        <div class="section-content"></div>
    </div>


    <div class="section">
        <div class="section-header">Header 3</div>
        <div class="section-content"></div>
    </div>
</td>

<td>
    <div id='numberdata'>

        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>

    </div>
    <div id='customEvent'></div>

</td>
</tr>

</table>
