<?xml version="1.0"?>

<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="wcfLibrary.NoSvcFile" relativeAddress="shadow.svc" />
      </serviceActivations>

    </serviceHostingEnvironment>

    
    <services>
      
      <service name="wcfLibrary.service" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082" />
          </baseAddresses>
        </host>
          
        <endpoint address ="secureAddr" binding="wsHttpBinding" contract="wcfLibrary.IService"></endpoint>
        <endpoint address ="tcp" binding="netTcpBinding" contract="wcfLibrary.IService"></endpoint>
        
        <endpoint address ="REST/interface" binding="webHttpBinding" contract="wcfLibrary.IService" behaviorConfiguration="WEB"></endpoint>

        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding" />
        
      </service>

      <service name="wcfLibrary.NoSvcFile" behaviorConfiguration="serviceBehavior">

        <endpoint address ="secureAddr" binding="wsHttpBinding" contract="wcfLibrary.IService"></endpoint>

        <endpoint address ="REST/interface" binding="webHttpBinding" contract="wcfLibrary.IService" behaviorConfiguration="WEB"></endpoint>

        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding" />

      </service>
      
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        
        <behavior>
          <endpointDiscovery>
            
          </endpointDiscovery>
        </behavior>
        
        <behavior name="WEB">
          <webHttp helpEnabled="true"  automaticFormatSelectionEnabled="true"/>
        </behavior>
      </endpointBehaviors>
      
    </behaviors>

  </system.serviceModel>
</configuration>
