<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAJUKCDIHVVPJHEAYQ"/>
		<add key="AWSSecretKey" value="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"/>
	</appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
