<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
<entityFramework>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
</entityFramework>

  <connectionStrings>
                                             
    <add name="AccContexts" 
         connectionString="metadata=res://*/Models.AccountingLib.csdl|res://*/Models.AccountingLib.ssdl|res://*/Models.AccountingLib.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=s06.winhost.com;initial catalog=DB_40114_codeclub;persist security info=True;user id=DB_40114_codeclub_user;password=p0$31d0n;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>