<div id="w" class="easyui-window" title="Modal Window" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:500px;height:200px;padding:10px;">The window content.</div>  


    <div style="padding:5px;border:1px solid #ddd;" >  
        <a id="mainpage"  class="easyui-linkbutton menuItem" data-options="plain:true">Home</a>  
        <a href="#" class="easyui-splitbutton" data-options="menu:'#mm1',iconCls:'icon-edit'">Options</a>  
    </div>  


    <div id="mm1" style="width:150px;">  
        <div id="tasklist" class="menuItem"     data-options="">View Lists</div>  
        <div id="newtask"  class="menuItem"     data-options="iconCls:'icon-add'">New Task</div>  
        <div class="menu-sep"></div>  
        <div id="viewmap"  class="menuItem"     data-options="iconCls:'icon-search'">View Entities</div>  
    </div>  
    

    <script type="text/javascript">
        (function ($$) {
            (function ($) {

                $('.menuItem').click(function (item) {

                    switch ($(this).attr('id')) {
                        case 'tasklist':
                            index1PageIns.generalHandlers.orgsList();
                            break;
                        case 'viewmap':

                            break;
                        case 'newtask':

                            $win = helperLib.easyUIWin(
                            {
                                size:{width:400,height:400},
                                pageUrl: "/workflow/test",
                                content:"",
                                modal:false
                            });


                            break;

                        case 'mainpage':
                            index1PageIns.generalHandlers.mainPage();
                            break;
                    }
                });

            } (jQuery));
        } (Prototype));

        
        
    </script>

