  <!--List View-->
  <div id="pageList" data-role="page">
  
  <div data-role="content" >
  
  <ul data-role="listview" data-theme="b" data-filter="true">
  <li><a href="">One</a></li>
  <li><a href="">Two</a></li>
  <li><a href="">Three</a></li>
  </ul>
  
  </div>
  </div>