﻿.slidingDoc_Panel
{
    font:11px tahoma;
}
.slidingDoc_Panel_Header
{   
    height:20px;
    border:1px solid Gray;
    padding-top:2px;
    padding-bottom:2px;
    margin-bottom: 1px;
    background: url('images/bg.png');
    cursor: pointer;
}
.slidingDoc_Panel_List
{   
    background: #e2e2e2;
    border:1px solid Gray;
    padding:15px;
    margin-bottom: 1px;
}
.slidingDoc_Panel_List_Item
{   
    color: teal;
    padding-right: 10px;
    cursor: pointer;
	text-decoration: underline;
}
.slidingDoc_Panel_List_Item:hover
{   
    color: red;
    text-decoration: none;
}

.slidingDoc_Panel_Header_PinOpen
{
    background: url('images/pin_black.png') no-repeat  ;
    background-position: left;
    width:20px;
    height:20px;
    
    float:left;
}
.slidingDoc_Panel_Header_PinClose
{
    background: url('images/pin_pencil.png') no-repeat  ;
    background-position: left;
    width:20px;
    height:20px;
    
    float:left;
}
.newButton
{
    margin-top: 20px;
    margin-left:30px;
    font:20px Tahoma;
    color:White;
}
.newIcon
{
    background-image: url('images/icon-drawer-add.png');
    float: left;
    width:25px;
    height:25px;
    background-position: left;
}


.editIcon
{
    background-image: url('images/drawer-icons.1.png');
    
    background-position:  0 -1250;
    float: left;
    width:25px;
    height:25px;
    
}
.slidingDoc_Panel_Header_NewBtn
{
    float:left;
    width:20px;
    height:20px;
}
 
.slidingDoc_Panel_Header_DelBtn
{
    float:left;
    width:20px;
    height:20px;
    
}