<div id="breadCrumb0" class="breadCrumb module">
    <ul>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Organizations</a></li>
        <li>Main Page</li>
    </ul>
    </ul>
</div>
<script>
    $("#breadCrumb0").jBreadCrumb({ easing: 'swing' });
</script>