<style>
#progress
{
    width:300px;  
    height:30px; 
}
</style>


<div id="progress"></div>


<div id="tabs">
<ul>
    <li><a href="#tab1">Tab1</a></li>
    <li><a href="#tab2">Tab2</a></li>
    <li><a href="#tab3">Tab3</a></li>
    <li><a href="simple html File address">Tab4</a></li>
</ul>
<div id="tab1">sample tst fo tab1</div>
<div id="tab2">sample tst fo tab2</div>
<div id="tab3">sample tst fo tab3</div>
</div>


<div id="accordion">
<h3><a href='#'>Ac 1</a></h3>
<div id="tab11">sample tst fo tab1</div>

<h3><a href='#'>Ac 2</a></h3>
<div id="tab21">sample tst fo tab2</div>

<h3><a href='#'>Ac 3</a></h3>
<div id="tab31">sample tst fo tab3</div>
</div>





<!--Auto complete-->
<input id="search" type="text"/>






<!--Buttons UI-->
<div id="buttons">
<button>Button1</button>
<input type="submit" value="button2"/>
<a href="#">button</a>
</div>




<div id="radios">
<input type="radio" id="lang1" name='lang' /><label for="lang1">JS</label>
<input type="radio" id="lang2" name='lang' /><label for="lang2">C#</label>
<input type="radio" id="lang3" name='lang' /><label for="lang3">VB</label>
</div>


<div id="checks">
<input type="checkbox" id="ch1" name='chek' /><label for="ch1">JS</label>
<input type="checkbox" id="ch2" name='chek' /><label for="ch2">JS</label>
<input type="checkbox" id="ch3" name='chek' /><label for="ch3">JS</label>
</div>


<!--Effects-->
<style>
.sample-box
{
    width:50px;
    height:30px;
    border:2px solid red;
    background:white;
}
.c1
{
    background:yellow;    
}
</style>
<table>
<tr>
<td>
    <input type="submit" id="effect-btn" value="Run Effects" />
</td>
<td>
    <div class="sample-box" id="effect-box"></div>
</td>
</tr>
<tr>
    <td>
        <input type="submit" id="ease-btn" value="Run Easing" />
    </td>
    <td>
        <div class="sample-box" id="ease-box"></div>
    </td>
</tr>
</table>

<!--DND-->
<style>

.ui-draggable
{
    width:100px;
    height:70px;
    background:#f2f2f2;
    padding:3px;
    border:1px solid red;
    box-shadow:5px 5px 5px black;
}
.ui-draggable > .header
{
    width:100%;
    height:20px;
    background:green;
    padding:2px;
    cursor:pointer;
}
.trash
{
    width:130px;
    height:130px;
    background:url(/resources/components/base/images/human_user_trash.png) #e2e2e2;
    padding:5px;
    border:1px dashed red;
}

.semitrans{opacity:0.6;}
.opaque{opacity:1.0;}

table td
{
    padding:10px;
}
</style>



<table>
<tr>
    <td>
        <div id="draggables">
            <div id="d1"><div class='header'>A</div></div>
            <div id="d2"><div class='header'>B</div></div>
            <div id="d3"><div class='header'>C</div></div>
        </div>
    </td>
    <td>
        <div class="trash semitrans" id="trash"></div>    
    </td>

    <td>
        <div id="sortables">
            <div id="s1"><div class='header'>S1</div></div>
            <div id="s2"><div class='header'>S2</div></div>
            <div id="s3"><div class='header'>S3</div></div>
        </div>
    
    </td>
</tr>
</table>



<!--Sortable-->
<style>
#sortables .header
{
    width:100px;
    height:20px;
    background:green;
    cursor:pointer;
    
    padding:2px;
    margin:5px;
}
#sortables > .placeholder
{
    box-shadow:inset 0 0 15px black;
    width:100px;
    height:20px;
    background-color:transparent;
    border:1px dashed red;
    
    padding:2px;
    margin:5px;
}
</style>

