@{
    Layout = null;
}

<form id="newSubTopic-form">
<table id="newSubTopic-table-main" cellspacing="0" cellpadding="0" border="0">

    <tr><td>
        <label for="name">Name</label>    
    </td></tr>
    <tr><td>
        <input type="text" id="newSubTopic-name" />
    </td></tr>



    <tr><td>
        <label for="Description">Description</label>    
    </td></tr>
    <tr><td>
        <textarea id="newSubTopic-description" ></textarea>
    </td></tr>




    
    <tr><td>
        <button id="newSubTopic-save" >Save</button>
    </td></tr>



</table>



</form>
