@{
    Layout = null;
}

<form id="newTopic-form">
<table id="newTopic-table-main" cellspacing="0" cellpadding="0" border="0">

    <tr><td>
        <label for="name">Name</label>    
    </td></tr>
    <tr><td>
        <input type="text" id="newTopic-name" />
    </td></tr>
</tr>

<tr>
    <tr><td>
        <label for="Description">Description</label>    
    </td></tr>
    <tr><td>
        <textarea id="newTopic-description" rows="15" cols="50" ></textarea>
    </td></tr>
</tr>


<tr>
    
    <tr><td>
        <button id="newTopic-save" >Save</button>
    </td></tr>
</tr>






</table>



</form>
