@{
    Layout = null;
}

<form id="SubTopic-form">
<table id="SubTopic-table-main" cellspacing="0" cellpadding="0" border="0">

    <tr><td>
        <label for="name">Name</label>    
    </td></tr>
    <tr><td>
        <input type="text" id="SubTopic-title" />
    </td></tr>



    <tr><td>
        <label for="Description">Description</label>    
    </td></tr>
    <tr><td>
        <textarea id="SubTopic-description" ></textarea>
    </td></tr>


    
    <tr><td>
        <button id="SubTopic-save" >Save</button>
        <button id="SubTopic-cancel" >Cancel</button>
    </td></tr>



</table>



</form>
