body
{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10px;
    }
.mainlogo
{
    position:absolute;
	top:0px;
	left: 0px;
	margin-left: -15px;
	margin-top: -6px;
    background: url('img/mainLogo.gif') no-repeat;
    width:100px;
    height:81px;
    z-index: 1;
}



.sortables li
{
    margin: 0 2px 2px 2px; 
    padding: 5px; 
    
    list-style-type: none;
    
}
.sortables .placeholder
{
    height:17px;
    background-color:#f5f5f5;
    border:1px solid gainsboro;
}


.sortables
{
    cursor:move;
    padding:0px;
    }