<?xml version="1.0"?>
<configuration>
  
    <system.serviceModel>
        
      <behaviors>
        <serviceBehaviors>
          <behavior name="serviceBehavior">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDiscovery/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

      <services>
        <service name="TskMgmtNS.TskMgmtservice" behaviorConfiguration="serviceBehavior">
          <endpoint address ="basic" binding="basicHttpBinding" contract="TskMgmtNS.ITskMgmtservice"></endpoint>
          <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding" />
        </service>
      </services>
     
    </system.serviceModel>


</configuration>
