<form id="createNewTask_Form" method="post" action="/workflow/json_uploadTaskDoc/" name="createNewTask_Form" class="createNewTask_Form" enctype="multipart/form-data" >
<table cellpadding="0" cellspacing="0" border="0" class="createNewTask_table">
    <tr>
        <td>
        <label>Title</label><br/><input class="createNewTask_Form_input" id="createNewTask_title" name="createNewTask_title"  type="text" />
        </td>
    </tr>
    <!--tr>
        <td>
        <label>DeadLine</label><br/><input class="createNewTask_Form_input" id="createNewTask_deadline" name="createNewTask_deadline" type="text" />
        </td>
    </tr-->
    <tr>
        <td class="yui-skin-sam">
        <label>description</label><br/><textarea id="createNewTask_description" name="createNewTask_description" ></textarea>
        </td>
    </tr>
    <tr>
    <!--td>

        <div id="createNewtask_fileUpload_Div" class="createNewtask_fileUpload_Div">
            <input type="file" id="createNewtask_file" name="createNewtask_file" />
        </div>

    </td-->
    </tr>

    <tr>
    <!--td>
    <!List of dynamic items to be added-->
        <!--div id="createNewtask_fileList_Div" class="createNewtask_fileList_Div">
        <div id="createNewtask_fileList_Div_nofileadded">No File Added</div>
        </div>
    </td-->
    </tr>

    <tr>
    <td>
        <input type="button" id="createNewTask_saveBtn" class="createNewTask_saveBtn" value="save" />
    </td>
    </tr>
</table>
</form>