<div id="TskCreateAssignLayout" class="easyui-layout" style="width:100%;height:100%;"  >  

    <div id="TskCreateAssignLayout-east" data-options="region:'east',title:'Assignment',split:true" style="padding:5px;width:800px;">

        <div class="TskCreateAssignLayout-east-Left"><span id="save-new-task"><img src="../../Components/index1/page/img/save.png" /></span></div>
        <div class="TskCreateAssignLayout-east-Right" style="float:left;width:600px;height:80%;"></div>

    </div>  

    <div id="TskCreateAssignLayout-west" data-options="region:'west',title:'Organization',split:true" style="padding:5px;width:150px;">
        <ul id="orgsTree" class="easyui-tree" data-options="url:'/workflow/getusers',animate:true,lines:true" ></ul>  
    </div>  
    
    
    <div id="TskCreateAssignLayout-center"  data-options="region:'center',title:'Users',split:true" style="padding:5px;width:150px;">
        
    </div>  
</div>  

    

    <script type="text/javascript">
    (function ($$) {
        (function ($) {


            $('#save-new-task').click(function () {
                helperLib.easyUIWin(
             {
                 size:
                 {
                     width: 200,
                     height: 100
                 },
                 pageUrl: null,
                 content: "Your New Task Saved",
                 modal: true
             });
             setTimeout(function () {
                 index1PageIns.generalHandlers.mainPage();
                 },1000);
                
            });


        } (jQuery));
    } (Prototype));
    </script>