@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/sandbox/Master.cshtml";
}



<div id="index1">
    
    <table cellpadding=0 cellspacing=0 border=0 width="95%">
    <tr>
        <td style="vertical-align:top;">
            <input type="submit" value="Create New header box" id="createNewBox" />
            <br />
            <br />
            <input type="submit" value="Create New Content for box" id="createNewContent" />    
            <br />
            <br />

            
            <div id="panelcontainer">
                <div id="panel"></div>    
            </div>
            

        </td>
        <td style="vertical-align:top;padding-left:10px">

            <div id='maintab' >
                <ul style="margin-left: 40px;">
                    <li>
                        View
                    </li>
                    <li>
                        Documentation
                    </li>
                </ul>
                <div class="content-container" style="width:100%;height:100%;padding:10px;">
                    <div id="component" style="width:100%;height:700px;overflow:auto"></div>
                </div>

                <div class="content-container" style="width:100%;height:100%;padding:10px;">
                    <table>
                        <tr>
                            <td>
                                <input type="button" value="Edit" id="editbtn" />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div id="documentation" style="width:100%;height:700px;overflow:auto"></div>
                </div>
            </div>
       
            
        </td>
    </tr>
    </table>
    
</div>

            

<link href="../../scripts/Components/index1/index1.css" rel="stylesheet" type="text/css" />
<script src="../../scripts/Components/index1/index1.js" type="text/javascript"></script>
