<div id="TskCreateAssignLayout" class="easyui-layout" style="width:100%;height:100%;"  >  

    <div id="TskCreateAssignLayout-east" data-options="region:'east',title:'Assignment',split:true" style="padding:5px;width:800px;">

        <div class="TskCreateAssignLayout-east-Left"></div>
        <div class="TskCreateAssignLayout-east-Right" style="float:left;width:600px;height:100%;"></div>

    </div>  

    <div id="TskCreateAssignLayout-west" data-options="region:'west',title:'Organization',split:true" style="padding:5px;width:150px;">
        <ul id="orgsTree" class="easyui-tree" data-options="url:'/workflow/getusers',animate:true,lines:true" ></ul>  
    </div>  
    
    
    <div id="TskCreateAssignLayout-center"  data-options="region:'center',title:'Users',split:true" style="padding:5px;width:150px;">
        center
    </div>  
</div>  

    

