<form id="usercurtasks_form" name="usercurtasks_form" class="usercurtasks_form">

    <table cellpadding="2px" cellspacing="2px" border="0px">
    <tr>
    <td>
        <select id="usercurtasks_taskList">
        @foreach (var x in ViewBag.getUserCurrentTasks)
        { 
            <option id="usercurtasks_taskList_@x.task_id" value="@x.task_id" >@x.title</option>
        }
        
        </select>
    </td>
    </tr>

    <tr>
    <td>
        <input id="usercurtasks_taskList_goBtn" value="Filter" style="width:80px"/>
    </td>
    </tr>
    </table>

</form>