<div id="settings-panel">
    

  <div id='beds'></div>
  <div id='baths'></div>
  

  <div  title="Price Range" style="padding:10px;">  
        <label for="amount"></label>
        <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
        <div id="priceRange"></div>
  </div>
  <br/>

  <div  title="Property Type" style="padding:10px;">  
        <input type="checkbox" name="ptype" checked><span>Condominium</span><br/>  
        <input type="checkbox" name="ptype" ><span>House</span><br/>  
        <input type="checkbox" name="ptype" ><span>Farm</span><br/>  
        <input type="checkbox" name="ptype" ><span>Land</span><br/>  
        <input type="checkbox" name="ptype" ><span>Other</span>

  </div>
  <br />

  <div  title="Show" style="padding:10px;">  
  <table style="font-size:10px">
  <tr>
  <td><input type="checkbox" name="show" checked><span>All</span></td>
  <td></td>
  </tr>

  <tr>
  <td><input type="checkbox" name="show" ><span>Open Houses</span></td>
  <td><input type="checkbox" name="show" ><span>Price Changed</span></td>
  </tr>


  <tr>
  <td><input type="checkbox" name="show" ><span>New Properties</span></td>
  <td><input type="checkbox" name="show" ><span>New Construction</span></td>
  </tr>


  <tr>
  <td><input type="checkbox" name="show" ><span>Luxury</span></td>
  <td></td>
  </tr>
  </table>
        


  </div>



</div>



<script>
         (function ($) {
             YAHOO.util.Get.script("/ClientSideLibraries/JQUI/jquery-ui-1.9.2.custom.js", { onSuccess: function () {
                 $("#priceRange").slider({
                     range: true,
                     min: 0,
                     max: 100,
                     values: [50, 80],
                     slide: function (event, ui) {
                         $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                     }
                 });
                 $("#amount").val("$" + $("#priceRange").slider("values", 0) + " - $" + $("#priceRange").slider("values", 1));
             }
         });

        
         //Combo
         var theme = getDemoTheme();
         var source1 = [
                    "0 Bedroom",
                    "1+ Bedroom",
                    "2+ Bedroom"
		        ];
         $("#beds").jqxDropDownList({ source: source1, selectedIndex: 1, width: '150', height: '25', theme: theme });
         var source2 = [
                    "0 Bathrooms ",
                    "1+ Bathrooms",
                    "2+ Bathrooms"
		        ];
         $("#baths").jqxDropDownList({ source: source2, selectedIndex: 1, width: '150', height: '25', theme: theme });
        

         } (jQuery));
        


</script>