<style>
   
#beds,#baths,#priceSlider,#transit-walk,#score-walk
{
    margin-bottom:10px;
    margin-left:10px;
}

</style>


<div id="settings-panel">
  
  <!--Price Range-->  
  <h3>Price Range</h3>  
  <hr />

  <div id='beds'></div>
  <div id='baths'></div>
  <div id='priceSlider'></div>

  <!--Property types-->  
  <h3>Property Type</h3>
  <hr />

  <div style='float: left; width: 200px;'>
      <div id='pt-0' style='float: left;'>Condominium</div>
      <div id='pt-1' style='float: left;'>House</div>
  </div>
  <div style='float: left; width: 200px; margin-top: 10px;'>
      <div id='pt-2' style='float: left;'>Farm</div>
      <div id='pt-3' style='float: left;'>Land</div>
  </div>
  <div style='float: left; width: 200px; margin-top: 10px;'>
      <div id='pt-4' style='float: left;'>Others</div>
  </div>
        
  <!--Show-->  
  <h3>Show</h3> 
  <hr />

  <div style='float: left; width: 200px;'>
      <div id='t-1' style='float: left;'>All</div>
  </div>
  <div style='float: left; width: 200px; margin-top: 10px;'>
      <div id='t-2' style='float: left;'>Open Houses</div>
      <div id='t-3' style='float: left;'>Price Changed</div>
  </div>
  <div style='float: left; width: 200px; margin-top: 10px;'>
      <div id='t-4' style='float: left;'>New Properties</div>
      <div id='t-5' style='float: left;'>New Constructions</div>
  </div>
  <div style='float: left; width: 200px; margin-top: 10px;'>
      <div id='t-6' style='float: left;'>Luxury</div>
  </div>

  <!--score-->
  <h3>Walk Score</h3>
  <hr />
  <div id='score-walk'></div>
  <h3>Transit Score</h3>
  <hr />
  <div id='transit-walk'></div>

</div>


