<div id="tab" >
    <ul style="margin-left: 30px;">
                            <li>Avatar</li>
                            <li>End Game</li>
                            <li>Twilight</li>
                            <li>Unstoppable</li>
                            <li>Priest</li>
                        </ul>
      
    
   
    <div>
                          
                            Priest is a 2011 American post-apocalyptic sci-fi western and supernatural action
                            film starring Paul Bettany as the title character. The film, directed by Scott Stewart,
                            is based on the Korean comic of the same name. In an alternate world, humanity and
                            vampires have warred for centuries. After the last Vampire War, the veteran Warrior
                            Priest (Bettany) lives in obscurity with other humans inside one of the Church's
                            walled cities. When the Priest's niece (Lily Collins) is kidnapped by vampires,
                            the Priest breaks his vows to hunt them down. He is accompanied by the niece's boyfriend
                            (Cam Gigandet), who is a wasteland sheriff, and a former Warrior Priestess (Maggie
                            Q).
                        </div>
    <div>
                            
                            Priest is a 2011 American post-apocalyptic sci-fi western and supernatural action
                            film starring Paul Bettany as the title character. The film, directed by Scott Stewart,
                            is based on the Korean comic of the same name. In an alternate world, humanity and
                            vampires have warred for centuries. After the last Vampire War, the veteran Warrior
                            Priest (Bettany) lives in obscurity with other humans inside one of the Church's
                            walled cities. When the Priest's niece (Lily Collins) is kidnapped by vampires,
                            the Priest breaks his vows to hunt them down. He is accompanied by the niece's boyfriend
                            (Cam Gigandet), who is a wasteland sheriff, and a former Warrior Priestess (Maggie
                            Q).
                        </div>
    <div>
                            
                            Priest is a 2011 American post-apocalyptic sci-fi western and supernatural action
                            film starring Paul Bettany as the title character. The film, directed by Scott Stewart,
                            is based on the Korean comic of the same name. In an alternate world, humanity and
                            vampires have warred for centuries. After the last Vampire War, the veteran Warrior
                            Priest (Bettany) lives in obscurity with other humans inside one of the Church's
                            walled cities. When the Priest's niece (Lily Collins) is kidnapped by vampires,
                            the Priest breaks his vows to hunt them down. He is accompanied by the niece's boyfriend
                            (Cam Gigandet), who is a wasteland sheriff, and a former Warrior Priestess (Maggie
                            Q).
                        </div>
    <div>
                            
                            Priest is a 2011 American post-apocalyptic sci-fi western and supernatural action
                            film starring Paul Bettany as the title character. The film, directed by Scott Stewart,
                            is based on the Korean comic of the same name. In an alternate world, humanity and
                            vampires have warred for centuries. After the last Vampire War, the veteran Warrior
                            Priest (Bettany) lives in obscurity with other humans inside one of the Church's
                            walled cities. When the Priest's niece (Lily Collins) is kidnapped by vampires,
                            the Priest breaks his vows to hunt them down. He is accompanied by the niece's boyfriend
                            (Cam Gigandet), who is a wasteland sheriff, and a former Warrior Priestess (Maggie
                            Q).
                        </div>
    <div>
        
        Priest is a 2011 American post-apocalyptic sci-fi western and supernatural action
        film starring Paul Bettany as the title character. The film, directed by Scott Stewart,
        is based on the Korean comic of the same name. In an alternate world, humanity and
        vampires have warred for centuries. After the last Vampire War, the veteran Warrior
        Priest (Bettany) lives in obscurity with other humans inside one of the Church's
        walled cities. When the Priest's niece (Lily Collins) is kidnapped by vampires,
        the Priest breaks his vows to hunt them down. He is accompanied by the niece's boyfriend
        (Cam Gigandet), who is a wasteland sheriff, and a former Warrior Priestess (Maggie
        Q).
    </div>
</div>

<script type="text/javascript">

    $('#tab').ready(function () {
        var theme = getDemoTheme();

        $('#tab').jqxTabs({ height: '100%', width: '100%', theme: theme });
    });
</script>
