     <!--css-->
     <style type="text/css">
        .text-input
        {
            height: 21px;
            width: 150px;
        }
        .register-table
        {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .register-table td, 
        .register-table tr
        {
            margin: 0px;
            padding: 2px;
            border-spacing: 0px;
            border-collapse: collapse;
            font-family: Verdana;
            font-size: 12px;
        }
        h3 
        {
            display: inline-block;
            margin: 0px;
        }
    </style>


    <!--html-->
    <div id="pnl-updateheader">
        <div><h3>Deatails</h3></div>
        <div>
            <form action='/' id="frm-updateheader" >
                <table class="register-table">
                    <tr>
                        <td>Header:</td>
                        <td><input type="text" id="txt-header" class="text-input" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: left;">
                            <input type="submit" value="Update" id="btn-updateheader" />
                            <input type="submit" value="Cancel" id="btn-cancelheader" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <!--javascript-->
     <script type="text/javascript">
         var E_H_DATA = {};
         var theme = getDemoTheme()

         //build form 
         $("#pnl-updateheader").jqxExpander({ toggleMode: 'none', showArrow: false, theme: theme });
         $('#btn-updateheader').jqxButton({ width: 60, height: 25, theme: theme });
         $('#btn-cancelheader').jqxButton({ width: 60, height: 25, theme: theme });
         $('#frm-updateheader').jqxValidator({
             rules: [
                    { input: '#txt-header', message: 'Header Name is required!', action: 'keyup, blur', rule: 'required' }
                    
                ]
         });


         //SAVE FORM

         $('#btn-updateheader').click(function (event) {
             var isValidated = $('#frm-updateheader').jqxValidator('validate');
             if (!isValidated) return false;

             
             $.ajax(
                 {
                     url: "/sandbox/updateheader",
                     type: "post",
                     data: {

                         headerID: E_H_DATA.headerID,
                         header: $('#txt-header').val()
                     }
                 })
                 .done(function (data) {

                     //close the window
                     lib.helper.jqWidgetWinClose(E_H_DATA.winid);

                     //regenerate panel
                     mainPanel.loadDataSources();
                 })
                 .fail(function (data) { console.log('error happend in new header') })
                 .always(function (data) { });

             return false;
         });
         $('#btn-cancelheader').on('click', function () {
             
             lib.helper.jqWidgetWinClose(E_H_DATA.winid);
             return false;
         });
         
            
    </script>
