.task-processing
{
   background: gainsboro url('img/task-processing.png') no-repeat right;
   border: 1px solid #aaa;
}
.task-not-started
{
    background: gainsboro url('img/task-not-started.png') no-repeat right;
    border: 1px solid #aaa;
}

.task-finished
{
    background: gainsboro url('img/task-finished.png') no-repeat right;
    border: 1px solid #aaa;
}



.TskCreateAssignLayout-center
{
    border:1px solid #aaa;
    background:#eee;
    list-style-type:none;
    padding:3px;
    margin:5px;
    cursor:pointer;
    min-width:100px ;    
}
