<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
    body
    {
        font:50% verdana;    
    }
    .main
    {
        margin:10px;
        padding:10px;
        border:1px solid gray;
    }
    
    .input-append, .input-prepend {
        margin-bottom: 0px !important;
    }
    
    </style>
    <link href="~/Scripts/libraries/bootstrap.min.css" rel="stylesheet"type="text/css" />
    <script type="text/javascript" src="../../Scripts/libraries/jQuery/jquery-1.8.0.min.js"></script>
    <script src="http://localhost:1712/Scripts/libraries/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="main">
        
        @RenderBody()
        
    </div>
</body>
</html>
