@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/sandbox/Master.cshtml";
}

<h3>Ext JS Grids</h3>
<a href="grid_simple">Simple Grid</a>
<br/>
<a href="grid_features">Features Grid</a>
<br/>
<a href="grid_roundTrim">Round Trim Grid</a>



<h3>TreeView</h3>


<h3>Form and Windows</h3>


