@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/sandbox/Master.cshtml";
}

<h3>Ext JS Grids</h3>
<a href="extjs4/grid_simple">Simple Grid</a>
<br/>
<a href="extjs4/grid_features">Features Grid</a>
<br/>
<a href="extjs4/grid_roundTrim">Round Trim Grid</a>



<h3>TreeView</h3>
<a href="tree_simple">Simple Tree</a>
<br/>

<h3>Form and Windows</h3>


