<form id="enterkeyword_form" class="enterkeyword_form">
<table cellspacing=5px cellpadding=5px border=0>
<tr>
<td>
    <input type="password" id="enterkeyword_name" />
</td>
</tr>
<tr>
<td>
    <input type="button" id="enterkeyword_btn" class="enterkeyword_btn" value="Send" />
</td>
</tr>

</table>
</form>