<form id="foldering_form" name="foldering_form" enctype="multipart/form-data">
<table cellpadding="0px" cellspacing="0px" border="0px" class="foldering_mainTable">
   
    <tr>
    <td ><div id="foldering_leftPanel"  name="foldering_leftPanel"  class="foldering_leftPanel"></div></td>
    <td class="foldering_rightPanel_td"><div id="foldering_rightPanel" name="foldering_rightPanel" class="foldering_rightPanel"></div></td>
    
    </tr>
    <tr>
    <td colspan="2" class="foldering_btns">

            <input id="foldering_saveorderingBtn" type="button" value="save Ordering" /> 
            <input id="foldering_deleteBtn" type="button" value="Delete" /> 
            <input id="foldering_rootBtn" type="button" value="New Root" /> 
            <input id="foldering_printBtn" type="button" value="Print" /> 

    </td>
    </tr>
</table>

</form>