<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    
    <!--Client side Frameworks-->
    <!--jQuery-->
    <link href="http://localhost:91/ClientSideLibraries/JQUI/base-ui/jquery-ui-1.9.2.custom.css" rel="stylesheet"type="text/css" />
    
    <link href="http://localhost:91/ClientSideLibraries/JQUI/themes/ui-vedar/jquery.ui.theme.css" rel="stylesheet"type="text/css" />

    <script src="http://localhost:91/ClientSideLibraries/JQUI/jquery-1.8.3.js" type="text/javascript"></script>
    <script src="http://localhost:91/ClientSideLibraries/JQUI/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>

    <!--Prototype-->
    <script src="http://localhost:91/ClientSideLibraries/prototype-1.7.7.0.js" type="text/javascript"></script>

    <!--YUI Loader-->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yuiloader/yuiloader-min.js"></script> <!--getScript-->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script> <!--OnAvailable-->

    <!--EasyUI-->
    <link rel="stylesheet" type="text/css" href="http://localhost:91/ClientSideLibraries/JQeasyui/themes/gray/easyui.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:91/ClientSideLibraries/JQeasyui/themes/icon.css">	
    <script type="text/javascript" src="http://localhost:91/ClientSideLibraries/JQeasyui/jquery.easyui.min.js"></script>

     <!--Draw2D-->
    <link href="../../JSplugins/workflow/workflowCss.css" rel="stylesheet" type="text/css" />
    <script src="http://localhost:91/ClientSideLibraries/draw2D/wz_jsgraphics.js" type="text/javascript"></script>
    <script src="http://localhost:91/ClientSideLibraries/draw2D/draw2d.js" type="text/javascript"></script>
    <script src="../../JSplugins/workflow/js/person.js" type="text/javascript"></script>

    <!--Plugins-->
    <!--link href="../../JSplugins/scroller-sly/style.css" rel="stylesheet" type="text/css" />
    <script src="../../JSplugins/scroller-sly/jquery.sly.min.js" type="text/javascript"></script>
    <script src="../../JSplugins/scroller-sly/vendor/plugins.js" type="text/javascript"></script>
    <script src="../../JSplugins/scroller-sly/main.js" type="text/javascript"></script-->

    <!--Base-->
    <script src="http://localhost:91/Scripts/structure/helper.js" type="text/javascript"></script>
    <script src="http://localhost:91/Scripts/structure/loader.js" type="text/javascript"></script>

    @ViewBag.partialHeader

    <script src="http://localhost:91/ClientSideLibraries/less-1.3.1.js" type="text/javascript"></script>
</head>
<body>
     @{/*Html.RenderAction("IndexFooter","home");*/}
     @RenderBody()
</body>

</html>
