<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title></title>
    
    <!--Client side Frameworks-->
    <!--jQuery-->
    <link href="http://localhost:91/ClientSideLibraries/JQUI/base-ui/jquery-ui-1.9.2.custom.css" rel="stylesheet"type="text/css" />
    
    <link href="http://localhost:91/ClientSideLibraries/JQUI/themes/ui-vedar/jquery.ui.theme.css" rel="stylesheet"type="text/css" />

    <script src="http://localhost:91/ClientSideLibraries/JQUI/jquery-1.8.3.js" type="text/javascript"></script>
    
    <script src="http://localhost:91/ClientSideLibraries/JQUI/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>

    <!--Prototype-->
    <script src="http://localhost:91/ClientSideLibraries/prototype-1.7.7.0.js" type="text/javascript"></script>

    <!--YUI Loader-->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/yuiloader/yuiloader-min.js"></script> <!--getScript-->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script> <!--OnAvailable-->

    <!--EasyUI-->
    <link rel="stylesheet" type="text/css" href="http://localhost:91/ClientSideLibraries/JQeasyui/themes/gray/easyui.css">
	<link rel="stylesheet" type="text/css" href="http://localhost:91/ClientSideLibraries/JQeasyui/themes/icon.css">	
    <script type="text/javascript" src="http://localhost:91/ClientSideLibraries/JQeasyui/jquery.easyui.min.js"></script>

     <!--Draw2D-->
    <link href="../../JSplugins/workflow/workflowCss.css" rel="stylesheet" type="text/css" />
    <script src="http://localhost:91/ClientSideLibraries/draw2D/wz_jsgraphics.js" type="text/javascript"></script>
    <script src="http://localhost:91/ClientSideLibraries/draw2D/draw2d.js" type="text/javascript"></script>
    <script src="../../JSplugins/workflow/js/person.js" type="text/javascript"></script>

   
    <!--Extjs4-->
    <!--link rel="stylesheet" type="text/css" href="http://dev.sencha.com/deploy/ext-4.1.0-gpl/resources/css/ext-all-gray.css" /-->
    <script src="http://localhost:91/ClientSideLibraries/ext-4.0.2-ext-all.js" type="text/javascript"></script>

    
    <!--Base-->
    <script src="http://localhost:91/Scripts/structure/helper.js" type="text/javascript"></script>
    <script src="http://localhost:91/Scripts/structure/helper.js" type="text/javascript"></script>

    @ViewBag.partialHeader

    <script src="http://localhost:91/ClientSideLibraries/less-1.3.1.js" type="text/javascript"></script>

    
    <script src="../../JSplugins/jScrollPane/jquery.mousewheel.js" type="text/javascript"></script>
    <link href="../../JSplugins/jScrollPane/jquery.jscrollpane.css" rel="stylesheet"type="text/css" />
    <script src="../../JSplugins/jScrollPane/jquery.jscrollpane.min.js" type="text/javascript"></script>

    <!--Master Components-->
    <link href="../../../Components/master/topMenu/ddmenu.css" rel="stylesheet" type="text/css" />
    <script src="../../../components/master/topMenu/ddmenu.js" type="text/javascript"></script>
    <script type="text/javascript">
    (function ($$) {
        (function ($) {

        function theme() {

            $('.Hsection').undelegate(this, "click").delegate(this, "click", function (e) {
                var me = this;

                var hideAll = $('.Hsection-content').fadeOut();
                $.when(hideAll)
            .done(function () {

                $(me).find('div').each(function (index) {

                    if ($(this).hasClass('Hsection-content')) {
                        if ($(this).is(":visible"))
                            $(this).fadeOut(function () { });
                        else
                            $(this).fadeIn(function () { });
                    }

                });
            });

                e.stopPropagation();
                return false;

            }); //.section click
            $(".Hsection-header:not(:eq(0))").next().hide();

            var i = 0;
        };
        theme();

    } (jQuery));
} (Prototype));

    </script>
    <style type="text/css">
    .topMenu
    {
        position:fixed;
        top:0px;
        width:100%;
        z-index:100;
        
    }
    </style>

</head>
<body style="width:99%;height:100%;">
    <nav id="ddmenu" class="topMenu">
    <ul>
        <li><a href="#">Main</a>
            <div>
                <div class="column">
                    <b>Main Menu</b>
                    <a href="/">Main Page</a>
                    <a href="/home/index3">ScrollerPane</a>
                </div>
                <div class="column">
                    <b>Empty</b>
                    <a href="#">Empty</a>
                </div>
            </div>
        </li>
        
        <li>Accounting
            <div>
                <div class="column">
                    <a href="#">Invoices</a>
                    <a href="#">Payments</a>
                    
                </div>
            </div>
        </li>
        <li>Samples
            <div class="dropToLeft2">
                <div class="column">
                    <b>ExtJS 4</b>
                    <div>
                        <a href="#">Empty</a>
                    </div>
                    <b>jQueryEasyUI</b>
                    <div>
                        <a href="#">Empty</a>
                        
                    </div>
                    <b>Others</b>
                    <div>
                        <a href="/home/index2">ajax Upload</a>
                        
                    </div>
                </div>
               
            </div>
        </li>
        
    </ul>
</nav>
     @{/*Html.RenderAction("IndexFooter","home");*/}
     <div style="margin-top:50px;">
     @RenderBody()
     </div>
     
</body>

</html>
