@{
    Layout = "~/Views/Shared/Master.cshtml";
    ViewBag.partialHeader = RenderPage("../home/header/index2PartialHeader.cshtml");
}
<div class="mainlogo"></div>
<ul id="tabmenu">
    <li>
        Main Page
        <ul>
            <li><a href="#">Main</a></li>
        </ul>
    </li>



    <li>
        <a href="#">Accounting</a>
        <ul>
            <li><a href="#">Invoices</a>
            <ul>
                <li><a href="#">Issued</a></li>
                <li><a href="/">Received</a></li>
                <li><a href="/">History</a></li>
            </ul>
            </li>

            <li><a href="#">Payments</a>
            <ul>
                <li><a href="#">Incomming</a></li>
                <li><a href="/">Outgoing</a></li>
            </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Test</a>
        <ul>
            <li><a href="#">ExtJS4</a></li>
            <li><a href="#">jQueryEasyUI</a></li>
        </ul>
    </li>
    
</ul>

@RenderBody()

     
