<div id="menu">

    <div class="section">
    <p class="section-p">>Section1</p>
    <div prop='content' class="section-content"></div>
    </div>

    <div class="section">
    <p class="section-p">>Section2</p>
    <div prop='content' class="section-content"></div>
    </div>


    <div class="section">
    <p class="section-p">>Section3</p>
    <div prop='content' class="section-content"></div>
    </div>
    
</div>

<br/>
<br/>
<br/>
<div id="btn" style="width:20px;height:20px;background:red;margin-left:100px"></div>
<div id="btn2" class="btn" data-toggle="button">Single Toggle</div>

<div id="output1"></div>



<b2>Plugin Test</b2>
<div id='pluginTest'>

    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>

</div>
<b2>data event</b2>
<div id='testdiv'></div>
