<div id="redGuy" class="redGuy"></div>
<div id="bullet" class="bullet"></div>


<div id="blueGuy" class="blueGuy"></div>


<button id='whowon' >Who ?</button>


<br>
-----------------
<br>
<div id='w1' style='display:none'>Space 1 filled</div>
<div id='w2' style='display:none'>space 2 filled</div>



<style>

.blueGuy
{
    width:30px;
    height:40px;
    background :blue;
    position:relative;
    float:left;
    top:100px;
    left:300px;
}
    
.redGuy
{
    width:30px;
    height:40px;
    background :red;
    position:relative;
    float:left;
    left:100px;
    top:100px;
}
    
.bullet
{
    width:30px;
    height:10px;
    background :green;
    position:relative;
    float:left;
    left:100px;
    top:100px;
    
}
</style>