@{
    Layout = "~/Views/Shared/simpleLayout.cshtml";
}


    <table id="master-table-2" cellpadding="0" cellspacing="0" border="0">
        <tr>
        <td id="master-table-2-td-1">
                
            <!--main form-->
            <div style="width:700px">
            @{using (Html.BeginForm("actionsOnMainPage", "home", FormMethod.Post))
            {   
                <!--filter and Search-->
                <table>
                <tr>
                <td><input type="text" id="main-search" value="search" class="main-search"/></td>
        
                <td>
                    <div id="main-expandcollapse">
                        <label for="main-expandAll">Expand ALL</label><input class="main-expandcollapse" name="main-expandcollapse" type="radio" id="main-expandAll" checked/>
                        <label for="main-collapseAll">Collapse ALL</label><input class="main-expandcollapse" name="main-expandcollapse" type="radio" id="main-collapseAll" />
                    </div>
                </td>
        
                </tr>
                </table>
                <hr />
                <!--Actions-->
                <table>
                <tr>                            
                <td>
                    <button value="createCategory" name="main_btn_createCategory" id="main_btn_createCategory" class="main_btn_green">Create Category</button>
                </td>
                <td>
                    <button value="createResource" name="main_btn_createNew" id="main_btn_createNew" class="main_btn_green">Create Sub New</button>
                </td>
                <td>
                    <button value="highlightResources" name="main_btn_hightlightResources" id="main_btn_hightlightResources" class="main_btn_green">HighLight</button>
                </td>
                <td>
                    <button value="unhighlightResources" name="main_btn_unhightlightResources" id="main_btn_unhightlightResources" class="main_btn_red">(un)HighLight</button>
                </td>
                <td>
                    <button value="deleteResources" name="main_btn_deleteSelected" id="main_btn_deleteSelected" class="main_btn_red">Delete</button>
                </td>
                </tr>
                </table>
    
                <div id="mainResult">
                @foreach (var item in ViewBag.x0)
                {
                    if (item.parentID == null)
                    {
                        <div class="item_parent" id="parent-@item.ID">@item.title</div>
                    }
                    else
                    { 
                        <div class="parent-@item.parentID item_child" >
                            <table>
                            <tr>
                            <td><input type="checkbox" class="main_resources_cb" name="main_resources_cb" id="main_resources_cb_@item.ID" value="@item.ID" /></td>
                            <td><label class="item_child_title" resourceID="@item.ID" style='background:@item.colorCode'>@item.title</label></td>
                            </tr>
                            </table>
                        </div>
                    }
                }
                </div>
            }
            }
            </div>
            
            <!--main form End-->

        </td>
        <td id="master-table-2-td-2">
            <div id="master-details-right">
        
            </div>
        </td>
        </tr>
        </table>
