@{
    ViewBag.Title = "login";
}

<h2>login</h2>

@{
    using (Html.BeginForm("checkLogin", "home", FormMethod.Post))
    {
        <input type="text" name="login_name">
        <button>Login</button>
    }
}