@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/home/Master.cshtml";
}



<div id="index1">
    
    <input type="submit" value="Create New header box" id="createNewBox" />
    <input type="submit" value="Create New Content for box" id="createNewContent" />
    <br />
    
</div>
            

<link href="../../scripts/Components/index1/index1.css" rel="stylesheet" type="text/css" />
<script src="../../scripts/Components/index1/index1.js" type="text/javascript"></script>
