body
{
    background: #111 url(../images/environment.jpg) no-repeat fixed  center;
}
.myBox 
{
    top:100px;
    width:400px;
    height:600px;
    padding:20px;
    margin:20px;
    color:#ccc;
    font:10px verdana;
    
    background: transparent url(../images/black.png) repeat scroll top left;
    
    /*Border Radious*/
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -goog-ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    
    /*Box Shadow*/
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    -goog-ms-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
}