@{
    Layout = "~/Views/Shared/Layout-DND.cshtml";
}
        <!--Test-->
        <table cellpadding="0" cellspacing="0" border="0">

        <tr>
            <td colspan="2"><div class="myBoxStyle myBoxHor">@{ Html.RenderPartial("viewport-Dnd/viewportDND"); }</div></td>
        </tr>

        </table>
        
