@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}
<!--JS starting point-->
<script src="../../Scripts/start2.js" type="text/javascript"></script>

        <!--Test-->
        <table cellpadding="0" cellspacing="0" border="0">

        <tr>
            <td colspan="2"><div class="myBoxStyle myBoxHor">@{ Html.RenderPartial("viewport-Dnd/viewportDND"); }</div></td>
        </tr>

        </table>
        
