@{
    Layout = "~/Views/Shared/Layout-Main.cshtml";
}


@{
    using (Html.BeginForm("craete", "home", FormMethod.Post))
    {   
       Html.AntiForgeryToken();
       //also at home/create [ValidateAntiForgeryToken] directive is added

   };
}
        <!--Test-->
        <table cellpadding="0" cellspacing="0" border="0">

        <tr>
            <td><div class="myBoxStyle myBoxVer1">@{ Html.RenderPartial("viewport-Index/viewport1"); }</div></td>
            <td><div class="myBoxStyle myBoxVer1">@{ Html.RenderPartial("viewport-Index/viewport2"); }</div></td>
            <td rowspan="2"><div class="myBoxStyle myBoxVer2">@{ Html.RenderPartial("viewport-Index/viewport3"); }</div></td>
        </tr>

        </table>
        
        


