<div >
<table id="theme1_maintable" cellpadding="0px" cellspacing="0px"  class="theme1_table" id="theme1_table1" >

<tr>
    <td colspan="5" <!--class="theme1_header1"-->
    <div class="wrapper_menu_full menu_dark_theme"><!-- BEGIN MENU WRAPPER -->


    <div class="menu menu_black"><!-- BEGIN MENU -->
    
    
        <ul class="menu_whole_width"><!-- BEGIN WHOLE WIDTH CONTAINER -->
           
        
            <li><a href="#" class="drop">Home</a><!-- Begin Home Item -->
            
            
                <div class="dropdown_2columns"><!-- Begin 2 columns container -->
                
            
                    <div class="col_2 firstcolumn">
                    
                        <h2>Welcome !</h2>
                        <p>Hi and welcome here ! This is a showcase of the what I worked on during last week of june, 2012</p>             
                        <p>In this small project I focused on using Entity Framework in ASP.NET MVC 4 .</p>
                        <p>Also for the first time I used Draw2D.js library and built tree structure to read from source and generate GUI.</p>
                        <p>I developed client-side module-fetching structure e.g. to load components with multiple reusable Modules with zero possibility of CSS and ID conflicts.</p>
                        <p>I developed organizational hierarchy[Left] and groupped-slider[Right] components from scratch and bought and customized top menu and jQuery scroller</p>  
                    
                        <h2 class="pusher">Cross Browser Support</h2>
                        
                        <div class="col_1 firstcolumn">
                        <img src="/resources/components/menu/images/browsers.png" width="125" height="46" alt="" />
                        </div>
                        
                        <div class="col_1">
                        <p>This samall project has been tested in all major browsers.</p>
                        </div>
                    
                        <h2 class="pusher">Compatible Browsers</h2>
                        
                        <div class="col_1 firstcolumn">
                            <ul class="plus">
                                <li>Internet Explorer</li>
                                <li>Firefox</li>
                                <li>Opera</li>
                            </ul>
                        </div>
                        
                        <div class="col_1">
                            <ul class="plus">
                                <li>Chrome</li>
                                <li>Safari</li>
                                <li>What else ?</li>
                            </ul>
                        </div>
                                   
                    </div>
                    
                
                </div><!-- End 2 columns container -->
                
            
            </li><!-- End Home Item -->
            
            
            
            
            <li><a href="#" class="drop">Help</a><!-- Begin 5 columns Item -->
            
            
                <div class="dropdown_5columns"><!-- Begin 5 columns container -->
                
                
                    <div class="col_5 firstcolumn">
                    
                        <h2>Environment : ASP.net MVC 4,SQL server 2008 R2, EntityFramework & JS Libraries : Draw2D, jQuery, YUI </h2>
                    
                        <!--div class="col_1 firstcolumn"-->
                        <div>
                        <p>
                        <b>sample Test : </b>
                            <br />
                            1-create new Task by clicking the 5th side menu or right-click  on 5th side menu and pick New Task
                            <br />
                            2-fill in information and save
                            <br />
                            3-click Task Assignment by right-click on 5th side menu > choose the task and Drag and drop user of different office locations to right side [ordering matters] and save
                            <br />
                            4-after save popup panel will be closed and New Task Map will show up by ordered icons on top of offices 
                            <br />
                            5-by double click on office [Office Map ] list of users assigned to selected Task will be shown in order
                            <br />
                            6-login to system by credentials provided and based on users order in task logged in user can keep track of the task progress and view previous users work history .
                            <br />
                            7-by clicking on play pause the time will be tracked and sum of thease commited periods wil be total completion time per user Task
                            <br />
                            8-user can finalize its own task and after that next user in line would be able to continue tracking his/her work
                            <br />
                            <b>Logins</b>
                            <br />
                            (1)username/password: sam
                            <br />
                            (2)username/password: admin	 
                            <br />
                            (3)username/password: will 
                            <br />
                            (4)username/password: char
                            </p>
                        </div>
                        
                        <!--div class="col_1">
                        </div>
                        
                        <div class="col_1">
                        </div>
                        
                        <div class="col_1">
                        </div-->
                        
                    </div>
                
                    <!--div class="col_5 firstcolumn">
                    
                        <div class="col_2">
                        
                            <p class="black_box">Sofar No update Operations have been implemented</p>
                        
                        </div>
                        
                    </div-->
                   
                
                </div><!-- End 5 columns container -->
                
            
            </li><!-- End 5 columns Item -->
            
        
        </ul><!-- END WHOLE WIDTH CONTAINER -->
    
    
    </div><!-- END MENU -->


</div>
    
    </td>
</tr>
<tr>
    <!--Menu-->
    <td colspan="5" class="theme1_header2"></td>
    
</tr>


<tr>
    <!--far left bar-->
    <td class="theme1_div1">
    
    <div class="side" >
        <img  id="side1" width="50px" height="50px" src="../../../resources/components/base/images/2.png" />
    </div>
    
    <div class="side" >
        <img id="side2" width="50px" height="50px" src="../../../resources/components/base/images/user.png" />
    </div>

    <div class="side" >
        <img  id="side3" width="50px" height="50px" src="../../../resources/components/base/images/permissions.png" />
    </div>

    <div class="side" >
        <img  id="side4" width="50px" height="50px" src="../../../resources/components/base/images/apple_folder.png" />
    </div>
    <div class="side" >
        <img  id="side5" width="50px" height="50px" src="../../../resources/components/base/images/tasks.png" />
    </div>
    <div class="side" >
        <img  id="side8" width="50px" height="50px" src="../../../resources/components/base/images/settings.png" />
    </div>

    <div class="side" >
        <img  id="side6" style="display:none" width="50px" height="50px" src="../../../resources/components/base/images/taskAssignment.png" />
    </div>

    <div class="side" >
        <img  id="side7" style="display:none" width="50px" height="50px" src="../../../resources/components/base/images/scheduled_tasks.png" />
    </div>

    <div id="theme1_loginAccess" class="side theme1_loginAccess">
    <!--Login Section-->
        <div id="theme1_loginRequest" class="theme1_loginRequest"></div>

    <!--Logout Section-->
        <div id="theme1_logoutSection" class="hide">
                <div id="theme1_logoutRequest" class="theme1_logoutRequest"></div>
        </div>
    </div>

    <div class="side" >
        <img  id="side9"  width="50px" height="50px" src="../../../resources/components/base/images/facebook.png" />
    </div>
    
    <div id="theme1_timer_left" class="theme1_timer_left"></div>
    
    </td>


    <!--Left Panel-->
    <td class="theme1_div2">
    <div class="div firstPH" id="firstPH" >
    
    
    <!--div style="font-size:11px">
    
        <div id="titles" ></div>
    </div>

    

    <textarea id="editor" rows="10" cols="30" style="width:100%;height:100%"></textarea>
    

                <div id="vertical">
                    <div id="top-pane">
                        <div id="horizontal" style="height: 100%; width: 100%;">
                            <div id="left-pane">
                                <div class="pane-content">
                                    <h3>Inner splitter / left pane</h3>
                                    <p>Resizable and collapsible.</p>
                                </div>
                            </div>
                            <div id="center-pane">
                                <div class="pane-content">
                                    <h3>Inner splitter / center pane</h3>
                                    <p>Resizable only.</p>
                                </div>
                            </div>
                            <div id="right-pane">
                                <div class="pane-content">
                                    <h3>Inner splitter / right pane</h3>
                                    <p>Resizable and collapsible.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="middle-pane">
                        <div class="pane-content">
                            <h3>Outer splitter / middle pane</h3>
                            <p>Resizable only.</p>
                        </div>
                    </div>
                    <div id="bottom-pane">
                        <div class="pane-content">
                            <h3>Outer splitter / bottom pane</h3>
                            <p>Non-resizable and non-collapsible.</p>
                        </div>
                    </div>
                </div-->
    
    
    </div></td>

    <!--empty bar-->
    <td class="theme1_div3"></td>

    <!--Right Panel-->
    <td class="theme1_div4">
        <div id="secondPH"></div>
    </td>
    <!--end td-->

    <!--td class="theme1_div5"></td-->
</tr>

<tr>
    <!--Menu-->
    <td colspan="5" class="theme1_header2">
        <div id="topContainer"></div>
    </td>
    
</tr>

</table>
<div id="side-selector"></div>
</div>





