.testClass
{
    background:#e2e2e2;
}
.x-tab-bar 
{
    background-color:transparent !important;
    background-image: -moz-linear-gradient(center top , transparent, transparent) !important;
    border:0px !important;
}
.x-tab-bar-body  
{
    border-style:none !important;    
}
.x-window-body-default
{
    background:white !important;    
}
.custom .x-progress-bar {
    height: 17px;
    border: none;
    border-top: 1px solid #fff;
    background: transparent url(http://dev.sencha.com/deploy/ext-4.1.0-gpl/examples/simple-widgets/images/custom-bar.gif) repeat-x !important;
}
.x-progress.custom {
    height: 19px;
    border: 1px solid #686868;
    padding: 0 2px 0 2px;
}


.x-grid-cell-inner-selected
{
    border: 1px gray solid !important;
    background:#EBEBE4 !important;
    
     border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
}

