@{
    Layout = "~/Views/Shared/Layout1.cshtml";
}
        <!--Test-->
        <table cellpadding="0" cellspacing="0" border="0">
        <tr>
        <td><div class="myBox">@{ Html.RenderPartial("viewport/viewport1"); }</div></td>
        <td><div class="myBox">@{ Html.RenderPartial("viewport/viewport2"); }</div></td>
        <td><div class="myBox">@{ Html.RenderPartial("viewport/viewport3"); }</div></td>
        </tr>
        </table>
        
