.foldering_mainTable
{
    width:100%; 
    border-spacing:5px !important;
    border-collapse:separate !important;
}

.foldering_leftPanel
{
    min-width:250px;
    height:500px;    
    vertical-align:top;
    border:1px solid #ccc;
    padding:5px;
    overflow:hidden;
}

.foldering_rightPanel_td
{
    width:100%;    
}
.foldering_rightPanel
{   
    height:500px;    
    font-size:10px;
    font-family:Verdana;    
    vertical-align:top;
    border:1px solid #ccc;
    padding:5px;
    overflow:hidden;
}


.foldering_btns, foldering_editPanel_deleteBtn
{
    font-size:9px;
    font-family:Verdana;  
}

/*Edit Panel*/

.foldering_editPanel_form
{
    font-family:Verdana;
    font-size:10px;
        
}
.foldering_editPanel_detail
{
    width:600px !important;
    height:400px !important;
}


.treeViewComponentHighlightNode
{
    background:#f2f2f2;    
}
	
	
	
.enterkeyword_form
{
    font:10px verdana;    
    
}
