body
{
    
    width:100%;
    height:100%;
    background-color:#f1f1f1;
    font : 12px verdana;
    padding:5px;
}


.theme1_loading1
{
    width:20px;
    height:20px;
    text-align:center;
    vertical-align:middle;
    background:url(/resources/components/base/images/loading3.gif) no-repeat;
}
.theme1_loading_text
{
    vertical-align:middle;
    font-family:Verdana;
    font-size:9px;
    
}
.theme1_loading2
{
    text-align:center;
    vertical-align:middle;
    font-family:Verdana;
    font-size:9px;
    background:url(/resources/components/base/images/loadingAlert.gif) no-repeat;
    text-align:center;
    vertical-align:middle;
    padding-top:20px;
    background-position:center;
}

    





.theme1_timer_left
{   
    font:10px verdana;
    padding:2px;    
    width:30px;
    
    position:absolute;
    left:25px;
    top:410px;
    color:#f2f2f2;
}


.firstPH , .secondPH
{
    height:100%;        
}


.hide
{
    display:none;    
}
.show
{
    display:block;
}




/*Dropdownlist*/
 #titles-list .k-item {
                    overflow: hidden; /* clear floated images */
                }

                #titles-list img {
                    box-shadow: 0 0 4px rgba(255,255,255,.7);
                    float: left;
                    margin: 5px;
                }

                #titles-list dl {
                    margin-left: 85px;
                }

                #titles-list dt,
                #titles-list dd {
                    margin: 0;
                    padding: 0;
                }

                #titles-list dt {
                    font-weight: bold;
                    padding-top: .5em;
                }

                #titles-list dd {
                    padding-bottom: .3em;
                }

/*Ext js*/
.x-mask
{
    width:100% !important;
}


/*jQuery Dialog*/
.ui-widget-header
{
    border:0px !important;
    -moz-border-radius-bottomleft: 0px/*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 0px/*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 0px/*{cornerRadius}*/;
    border-bottom-left-radius: 0px/*{cornerRadius}*/;
    -moz-border-radius-bottomright: 0px/*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 0px/*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 0px/*{cornerRadius}*/;
    border-bottom-right-radius: 0px/*{cornerRadius}*/;
}
.ui-dialog 
{
    font: 12px 'Droid Sans', 'Trebuchet MS', Arial, Helvetica;
    padding:0px;
    
}
.ui-resizable-se 
{   
    display:none !important;
}


.section
{
    width:200px;
    
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.4); 
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4); 
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    
    margin-bottom:3px;    
}
.section-p
{
    border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3x;
    -webkit-border-top-right-radius: 3px;
    
    border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3x;
    -webkit-border-top-left-radius: 3px;
    
    padding-left:10px;
    background:#e2e2e2;
    width:200px;
    height:20px;
    border:1px solid gray;   
    cursor:pointer;
    margin:0px;
}

.section-content
{
    background:white;
    width:200px;
    height:100px;
    border:1px solid gray;   
}
