
<div class="devider" style="width:150px">
<!--Draggables-->
    Draggables
    <hr/>
    <ul id="draggables" >
            <li class='header'>A</li>
            <li class='header'>B</li>
            <li class='header'>C</li>
    </ul>
</div>

<div class="devider" style="width:150px">
    Sortables Y
    <hr />
    <ul id="sortablesY" class="sortables">
            <li>S1</li>
            <li>S2</li>
            <li>S3</li>
    </ul>
</div>

<div class="devider" style="width:350px">
    Sortables X
    <hr />
    <ul id="sortablesX" class="sortables">
            <li class='horizantal'>S1</li>
            <li class='horizantal'>S2</li>
            <li class='horizantal'>S3</li>
    </ul>
</div>


<div class="devider" style="width:350px">
    Trash
    <hr />
    <div class="trash" id="trash"></div>    
</div>



        




