<!--DND-->
<style>

.ui-draggable
{
    width:100px;
    height:70px;
    background:#f2f2f2;
    padding:3px;
    border:1px solid red;
}
.ui-draggable > .header
{
    width:100%;
    height:20px;
    background:green;
    padding:2px;
    cursor:pointer;
}
.trash
{
    width:130px;
    height:130px;
    padding:5px;
    border:1px dashed red;
}

.semitrans{opacity:0.6;}
.opaque{opacity:1.0;}

</style>



<table cellpadding=0 cellspacing=0 border=0 id="table-dnd">
<tr>
    <td>
        <div id="draggables">
            <div id="d1"><div class='header'>A</div></div>
            <div id="d2"><div class='header'>B</div></div>
            <div id="d3"><div class='header'>C</div></div>
        </div>
    </td>
    <td>
        <div class="trash semitrans" id="trash"></div>    
    </td>






    <!--Sortables-->
    <td>
        <div id="sortablesY" class="sortables">
            <div id="s1"><div class='header'>S1</div></div>
            <div id="s2"><div class='header'>S2</div></div>
            <div id="s3"><div class='header'>S3</div></div>
        </div>
    </td>
    <td>
    
        <div id="sortablesX" class="sortables">
            <div><div class='header horizantal'>S1</div></div>
            <div><div class='header horizantal'>S2</div></div>
            <div><div class='header horizantal'>S3</div></div>
        </div>

    </td>
</tr>
</table>

