
<div class="devider" style="width:150px">
<!--Draggables-->
    Draggables
    <hr/>
    <ul id="draggables" >
            <li class='header'>A</li>
            <li class='header'>B</li>
            <li class='header'>C</li>
    </ul>
</div>

<div class="devider" style="width:150px">
    Sortables Y
    <hr />
    <ul id="sortablesY" class="sortables">
            <li class="ui-state-focus">S1</li>
            <li class="ui-state-focus">S2</li>
            <li class="ui-state-focus">S3</li>
    </ul>
</div>

<div class="devider" style="width:350px">
    Sortables X
    <hr />
    <ul id="sortablesX" class="sortables">
            <li class='ui-state-hover SIDEBYSIDE'>S1</li>
            <li class='ui-state-hover SIDEBYSIDE'>S2</li>
            <li class='ui-state-hover SIDEBYSIDE'>S3</li>
    </ul>
</div>
<!--
ui-state-hover
ui-state-error
ui-state-focus
ui-state-active
ui-state-disabled
-->

<div class="devider" style="width:350px">
    Multiple Sortable Lists W/ ref
    <hr />
    <ul id="sortable1" class="sortables SIDEBYSIDE connectedSortable">
        <li class="ui-state-error">Item 1</li>
        <li class="ui-state-error ui-state-disabled">Item 2</li>
        <li class="ui-state-error ui-state-disabled">Item 3</li>
        <li class="ui-state-error">Item 4</li>
        <li class="ui-state-error">Item 5</li>
    </ul>
 
    <ul id="sortable2" class="sortables SIDEBYSIDE NOTconnectedSortable">
        <li class="ui-state-active">Item 1</li>
        <li class="ui-state-active">Item 2</li>
        <li class="ui-state-active">Item 3</li>
        <li class="ui-state-active">Item 4</li>
        <li class="ui-state-active">Item 5</li>
    </ul>

    <ul id="sortable3" class="sortables SIDEBYSIDE connectedSortable">
        <li class="ui-state-active">Item 1</li>
        <li class="ui-state-active">Item 2</li>
        <li class="ui-state-active">Item 3</li>
        <li class="ui-state-active">Item 4</li>
        <li class="ui-state-active">Item 5</li>
    </ul>

</div>

<div class="devider" style="width:350px">
    Trash
    <hr />
    <div class="trash SIDEBYSIDE" id="trash"></div>    
</div>


<div class="devider" style="width:350px">
    Grid
    <hr />
    <ul id="sortableGrid" class="sortables ">
        <li class="SIDEBYSIDE ui-state-default">1</li>
        <li class="SIDEBYSIDE ui-state-default">2</li>
        <li class="SIDEBYSIDE ui-state-default">3</li>
        <li class="SIDEBYSIDE ui-state-default">4</li>
        <li class="SIDEBYSIDE ui-state-default">5</li>
        <li class="SIDEBYSIDE ui-state-default">6</li>
        <li class="SIDEBYSIDE ui-state-default">7</li>
        <li class="SIDEBYSIDE ui-state-default">8</li>
        <li class="SIDEBYSIDE ui-state-default">9</li>
    </ul>

</div>






<div class="devider" style="width:500px">
    Draggable connect with Soretables
    <hr />
    
    <ul id="sortableDraggable" class="sortables">
        <li class="ui-state-default">Item 1</li>
        <li class="ui-state-default">Item 2</li>
        <li class="ui-state-default">Item 3</li>
        <li class="ui-state-default">Item 4</li>
        <li class="ui-state-default">Item 5</li>
    </ul>


</div>



        




