
#main-container{
	color:#555555;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	width:400px;
	margin:30px auto;
}

#form-container{
	background-color:#f5f5f5;
	padding:15px;
	
	-moz-border-radius:12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius:12px;
}
textarea{	width:220px;}

