@backgroundX:url(../images/environment.jpg);
@background:'';
.shadow(@percent:0.50)
{
    /*Box Shadow*/
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, @percent);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, @percent);
    -goog-ms-box-shadow: 0 1px 20px rgba(0, 0, 0, @percent);
    box-shadow: 0 1px 20px rgba(0, 0, 0, @percent);
}
.borderRadious(@size:5px)
{
    /*Border Radious*/
    -moz-border-radius: @size @size @size @size;
    -webkit-border-top-left-radius: @size;
    -webkit-border-top-right-radius: @size;
    -webkit-border-bottom-left-radius: @size;
    -webkit-border-bottom-right-radius: @size;
    -goog-ms-border-radius: @size @size @size @size;
    border-radius: @size @size @size @size;
}

@media only screen and (min-width:1580px)
{

body
{
    background:@background no-repeat fixed  center;
    font:verdana;
    margin-left: 100;
    /*display: none;*/
}
.myBoxStyle
{   
    margin:10px;
    color:#ccc;
    background: transparent url(../images/black.png) repeat scroll top left;
    .borderRadious();
    .shadow();
    
}
.myBoxVer1
{
    margin-top:20;
    width:400px;
    height:400px;
}
.myBoxVer2
{
    margin-top:20px;
    width:600px;
    height:750px;
}
.myBoxHor
{
    margin-top:0px;
    height:300px;
}
 table
 {
     width:100%;
 }
 
 
}