<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHello" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHello" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2129/customService.svc/Addr"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHello"
                contract="sr.IHello" name="BasicHttpBinding_IHello" />
            <endpoint address="http://localhost:2129/customService.svc/secureAddr"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHello"
                contract="sr.IHello" name="WSHttpBinding_IHello">
                <identity>
                    <userPrincipalName value="saeid-PC\saeid" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>