<form id="newFolder-mainform">

<table id="newFolder-mainTable" cellspacing="0" cellpadding="0" border="0">
<tr>
<td>
    <label for="folderName">Title </label>
</td>
<td>
    <input type="text" id="newFolder-title" />
</td>
</tr>
<tr>
<td >
    <button id="newFolder-savebtn">Save</button>
</td>
</tr>

</table>

</form>