<ul class="navigationMenu">

<li><a href="#" class="normalMenu">Home</a></li>
<li><a href="#" class="normalMenu">Services</a></li>
<li><a href="#" class="selectedMenu">Our clients</a></li>
<li><a href="#" class="normalMenu">The team</a></li>
<li><a href="#" class="normalMenu">About us</a></li>
<li><a href="#" class="normalMenu">Contact us</a></li>

</ul>


<link href="../../../scripts/JSplugins/simpleMenuv1/demo.css" rel="stylesheet" type="text/css" />
<script src="../../../scripts/JSplugins/simpleMenuv1/script.js" type="text/javascript"></script>