<style>
.section
{
    margin:0px 0px 3px 0px;  
    font-family:Courier New;  
    font-size:10px;
    width:202px;
    
    border:1px solid white;
     /*Border Radious*/
    -moz-border-radius: 2px 2px 0px 0px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -goog-ms-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    
     /*Box Shadow*/
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    -goog-ms-box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    box-shadow: 0 1px 20px rgba(0, 0, 0, .50);
    
}
.section-header
{
    width:200px;
    height:20px;
    background:gray;
    cursor:pointer;
    padding:2px;
    
}
.section-content
{
    background:white;
    width:200px;
    height:70px;
    border:1px solid transparent;   
}
</style>

<table id="accordionTable">
<tr>
<td>
    <!--Accordion-->
    <div class="section">
        <div class="section-header">Header 1</div>
        <div class="section-content"><p><a></a></p><p></p></div>
    </div>

    <div class="section">
        <div class="section-header">Header 2</div>
        <div class="section-content"></div>
    </div>


    <div class="section">
        <div class="section-header">Header 3</div>
        <div class="section-content"></div>
    </div>
</td>

<td>
    <div id='numberdata'>

        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>

    </div>
    <div id='customEvent'></div>

</td>
</tr>

</table>
