body
{
       font:10px verdana;
       margin: 30px 70px 0px 70px ;
       
 }
.main-search
{
    opacity:0.5;
    font-style: italic;
	font:7px;
}
.main_btn_red
{
	color:Red;
	margin: 5px 0px 5px 0px;
	font-weight: bold;    
}
.main_btn_green
{
	color:green;
	margin: 5px 0px 5px 0px;
	font-weight: bold;    
}
.main_btn:hover
{
	color:green;
	text-decoration:underline;
	cursor: pointer;
	
}

.item_parent
{
    padding:5px;
    margin:5px;
    border:1px teal;
    background-color: Black;
    opacity:0.7;
    color:White;
    font-weight: bold;
    cursor: pointer;
}
.item_child
{
    padding:5px;
    margin:5px;
    border:1px teal;
    color:gray;
    font-weight: bold;
    cursor: pointer;
}
