<div id="collection" data-role="collapsible-set">
    <div data-role="collapsible">
        <h3>
            Title1</h3>
        <div class="ui-grid-a">
            <div class="ui-block-a">Image</div>
            <div class="ui-grid-b">
                <div>col1</div>
                <div>col2</div>
                <div data-role="controlgroup">
                    <a href="#" data-role="button" data-theme='b' data-mini="true" data-inline="true" data-icon="check" data-iconpos="right">Send</a>
                    <a href="#" data-role="button" data-theme='e' data-mini="true" data-inline="true" data-icon="check" data-iconpos="right">Send</a>
                </div>
            </div>
            
        </div>
    </div>
    
</div>


<!--
http://jquerymobile.com/test/docs/buttons/buttons-grouped.html
http://jquerymobile.com/test/docs/buttons/buttons-icons.html
-->