.curUserTimeTrackerForm
{
    font-family:Verdana;
    font-size:9px;
    
    
}
.curUserTimeTrackerForm_table
{
    width:580px;     
    height:250px;
    overflow:auto;
}

.curUserTimeTrackerForm_innertable
{
    width:500px;  
}

.curUserTimeTrackerForm_leftArrow{
    width:10px;
    height:19px;
    background: url("../../tracker/images/left-arrow.png");
    
    position: relative;
    top:23px;
    left:1px;
    
    z-index:1001;
}
.curUserTimeTrackerForm_rightPanel{
    width: 450px;
    min-height:20px;
    border:1px solid #b2b2b2;
    background:white;
    padding:3px;
    font:9px verdana;
    
    -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    
    position: relative;
    top:0px;
    left:10px;
    
    z-index:1000;
}
.curUserTimeTrackerForm_topPanel1
{
    width:30px;
    height:32px;
    border:1px solid #ccc;
    background:#fefefe;
    
    float:left;
    
}
.curUserTimeTrackerForm_image
{
    text-align:left;
    vertical-align:middle;
    float:left;
}

.curUserTimeTrackerForm_topPanel2
{
    width:250px;
    height:32px;
    border:1px solid #ccc;
    background:#fefefe;
    margin-left:10px;
    vertical-align:middle;
    float:left;
}
.curUserTimeTrackerForm_title
{
    text-align:left;
    
    float:left;
    width:100%;
    padding-left:20px;
    line-height: 3em;
}

.curUserTimeTrackerForm_topPanel3
{
    width:250px;
    height:32px;
    border:0px solid #ccc;
    
    margin-left:10px;
    vertical-align:middle;
    float:right;
}
.curUserTimeTrackerForm_finalizeBtn
{
    float:right;
    padding-top:7px;
}



.curUserTimeTrackerForm_topPanel_button
{
    cursor:pointer;    
    
}
.curUserTimeTrackerForm_person
{
    padding-top:25px;
    width:70px;
    vertical-align:top;
}

.curUserTimeTrackerForm_select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  
  background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
}


