@{
    ViewBag.Title = "Home";
}

<table id="theme1-table-main" cellpadding="0" cellspacing="0" border="1" class="theme1-table">
<tr>
    <td class="theme1-table-1st-td">
    <div id="docHierarcy"></div>
    </td>
    <td class="theme1-table-others-td">
    <div id="docarch"></div>
    </td>
</tr>

</table>



