body
{
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    font-size: 10px;
    }



.sortables li
{
    margin: 0 2px 2px 2px; 
    padding: 5px; 
    
    list-style-type: none;
    
}
.sortables .placeholder
{
    height:17px;
    background-color:#f5f5f5;
    border:1px solid gainsboro;
}


.sortables
{
    cursor:move;
    padding:0px;
    }
    
    
 /*Theme*/
  #hacc
        {
            margin-top:10px;
            }
        .media-bar {
            width: 30px;
            height: 400px;
            
           
            background-image:url("../../components/index2/hSlider/img/small-bg.png");
            
            background-image: -webkit-gradient(linear, left center, right center, from(#5F8CB0), to(#4A7496));
            background-image: -webkit-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: -moz-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: -o-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: -ms-linear-gradient(left, #5F8CB0, #4A7496);
            background-image: linear-gradient(left, #5F8CB0, #4A7496);
            position: relative;
            
            -webkit-border-radius: 0px;
            border-radius: 0px;
            border: 1px solid #1C5380;
        }
        .media-bar ul
        {   
            width:100%;
            padding:0px;
            margin:0px;
            cursor:pointer;
            
            
        }
        .media-bar li
        {
            cursor:pointer;
            list-style-type:none;
                /*border-top: 1px solid rgba(255, 255, 255, 0.12);
                border-bottom: 1px solid #1C5380;
                */
        }
        .Hsection-content
        {
            min-width:400px;
            height:380px;
            border-right:1px solid #1C5380;   
            border-top:1px solid #1C5380;   
            border-bottom:1px solid #1C5380;   
            padding:10px;
        }