<div id="tsk-inner-west" data-options="region:'west',title:'West',split:true" style="width:150px;">
    <div id="List-1"></div>
</div>  
<div id="tsk-inner-center" data-options="region:'center',title:'center title'" style="padding:0px;background:#eee;">
    @RenderPage("tabs.cshtml");
</div>
